@model IEnumerable<Data>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @foreach (var data in Model)
        {
            <li>@data.Text</li>
        }
    </ul>
</body>
</html>
