@model IEnumerable<Data>;

@{
    ViewBag.Title = "Hello, ASP.NET Core MVC 2";
}

<table>
    <thead>
        <tr><th>Text</th><th>Count</th></tr>
    </thead>
    <tbody>
        @{var alternateRow = false;
            foreach (Data d in Model)
            {
                for (var i = 0; i < d.Count; ++i)
                {
                    <tr class="@(alternateRow ? "alternate-row" : "")">
                        <td>@d.Text</td>
                        <td>@($"{d.Count:D2}")</td>
                    </tr>

                    alternateRow = !alternateRow;
                }
            }
        }
    </tbody>
</table>