@model City
@{ Layout = "_Layout"; }
<form method="post">
    @*NOTE: it seems there is a bug in automatic conversion of the nameof result to the
            ModelExpression which is expected. Specifyng name directlty as a string works ok,
            but using the nameof causes the Exception during creation the ModelExpression
   *@
    <div class="form-group">
        <label helper-for="Name" />
        <input helper-for="Name" />
    </div>
    <div class="form-group">
        <label helper-for="Country" />
        <input helper-for="Country" />
    </div>
    <div class="form-group">
        <label helper-for="Population" />
        <input helper-for="Population" />
    </div>
    <div theme="primary">
        <button type="submit">Add</button>
        <button type="reset">Reset</button>
        <a href="/Home/Index">Cancel</a>
    </div>
</form>